punchscan/**/*.log
punchscan/**/*.pdf

# Draw.io temporary files
*.bkp
*.dtmp

# SDM files
swiss-post/demo/
swiss-post/voting-slip-o-matic
swiss-post/election-count-o-matic/mapping.yml
swiss-post/election-count-o-matic/*.csv
